.footerContainer{
    color: #ffffff;
    background-color: #3a2210;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 30px;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}