.footerContainer{
    color: #000000;
    background-color: #DCBB7E;
    font-size: 3vh;
    text-align: center;
    padding: 20px 30px;
    /**padding: 0px;*/
    /**border: 1px;*/
    /**position: static;               Estas 3 lineas son solo una prueba */ 
    bottom: auto;
    width: 100%;
    height: 10vh;
    margin: 0px 0px 0px 0px;
}