.navbar {
  padding: 10px 0;
}

.navLink {
  color: #ffffff;
  font-weight: 600; 
  margin-left: 20px;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: #f0a500;
}

.navLink.active {
  font-weight: 700;
}

.badge {
  margin-left: 5px;
  font-size: 0.8rem;
}